/database/design.mwb.bak
/database/design.mwb
/node_modules
/resources/assets/vendor
/resources/assets/js/*.map
/resources/assets/js/*-build.js
/storage/*.sqlite
/vendor
Homestead.yaml
Homestead.json
.env
.DS_Store