@import "limitless-one/_main/bootstrap";
@import "limitless-one/_main/components";
@import "limitless-one/_main/core";
@import "limitless-one/_main/colors";
@import "vendor/icomoon";
@import "vendor/loading";
@import "prompt";

.navbar {
    .navbar-brand {
        &.prompt {
            background: url(@logo-prompt-white) no-repeat 15px 10px;
            background-size: auto 30px;
            width: 175px;
            text-indent: -9999px;
        }
    }
}
