@logo-prompt-white:     '/assets/images/logo-white.svg';

@background-1:			'/assets/images/bg-1.png';

.form-control {
	&:focus {
		border-bottom-color: @color-blue-700;
		box-shadow: 0 1px 0 @color-blue-700;
	}
}
