@import "limitless-four/_main/bootstrap";
@import "limitless-four/_main/components";
@import "limitless-four/_main/core";
@import "limitless-four/_main/colors";
@import "vendor/icomoon";
@import "prompt";
@import "public-inprogress";

body {
  background: #eceff1;
  padding-bottom: 60px;

  &.home-controller {
    &.guest {
      background: #fff;
    }
  }
}

.navbar {
  .navbar-header {
    min-width: auto;

    .navbar-brand {
      &.prompt {
        background: url(@logo-prompt-white) no-repeat left center;
        background-repeat: no-repeat;
        background-size: auto 30px;
        width: 146px;
        text-indent: -9999px;
      }
    }
  }

  .navbar-nav {
    > li {
      > a {
        font-weight: 500;
        text-transform: uppercase
      }
    }
  }
}

.footer {
  background: #eceff1;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 10px 0;
}

.section-landing {
  background: #eceff1;
  margin: 0 0 -70px;
  padding: 20px 0 50px;

  .container {
    padding: 0 20px;
  }

  .form-login {
    .form-group {
      margin: 0 0 10px;

      .form-control {
        background-color: #fff;
      }

      > .form-control-feedback {
        left: 10px;
      }
    }
  }

  .text-muted {
    color: #6a6a6a;
  }

  .btn-register {
    margin-bottom: 10px;
  }

  hr {
    margin: 22px 0;
    border-color: #ccc;
  }

  #carousel-banners {
    .carousel-indicators {
      bottom: -10px;
    }
  }

  #carousel-news {
    padding-bottom: 10px;
    margin-bottom: 10px;

    .carousel-indicators {
      bottom: -14px;
    }
  }
}

#carousel-dashboard-news {
  padding: 15px 15px 10px;

  .carousel-title {
    padding: 0;
    margin-bottom: 10px;
    border: none;
  }

  .carousel-indicators {
    bottom: -10px;
  }

  .carousel-control {
    top: 26px;

    &.left {
      right: 37px;
      left: auto;
    }

    &.right {
      right: 15px;
    }
  }

  .item {
    h1 {
      font-size: 14px;
      font-weight: normal;
    }

    .text-muted {
      font-size: 12px;
    }
  }
}
