@media only screen and (min-width : 768px) {
  .is-table-row {
    display: table;
    margin: 0 30px 10px 30px;
    width: 95%;
  }

  .is-table-row [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: middle;
  }
}

.is-table-row .box {
  border-radius: 2px;
  border: solid 0.5px #ebebeb;
  padding: 2em;
  margin: 0px;
  
}

.is-table-row [class*="col-"] {
    padding: 0;  
}

.greyed {
  background-color: #eceff1 !important;
}