@import "limitless-four/_main/bootstrap";
@import "limitless-four/_main/components";
@import "limitless-four/_main/core";
@import "limitless-four/_main/colors";
@import (inline) "vendor/icomoon.css";

.navbar {
  .navbar-brand {
    &.prompt {
      background: url(/assets/images/logo-white.svg) no-repeat 15px 10px;;
      background-size: auto 30px;
      width: 175px;
      text-indent: -9999px;
    }
  }
}